---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="posts">
    <p style="font-family:arial;">Welcome to TheCyberGeek's Personal Site.<br><br>
        Here you will find my progress with CTFs, solutions and general updates.<br><br>
        Keeping it geeky!
    </p>
</ul>
<ul class="posts">
    <a href=""><button>TryHackMe Walkthroughs</button></a>
    <a href=""><button>HackTheBox Walkthroughs</button></a>
</ul>

  <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}
